@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color:#EEEEEE;
    background-image: url(/images/bg.png);
    display: block;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: auto;
    margin: 0 auto;
}

h1{
  text-align: center;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
}

p {
    text-align: center;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1px;
  }

h2 {
    text-align: center;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 1px;
}

.container{
    width: 30%;
    float: left;
    margin-left: 1%;
    margin-top: 3rem;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.9rem;
    color: #393E46;
    font-size: larger;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    position: relative;
    width: 98%;
    background-color: rgba(255,255,255,0.13);
}


form input{
    padding: 0.8rem;
    border: transparent;
    background-color: white;
    color: white; 
    width: 80%;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.inp{
    display: block;
    height: 50px;
    width: 90%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #e5e5e5;
    padding: 0 0 10px;
}

.label1 {
  display: flex;
  align-items: center;

  border-radius: 100px;
  padding: 14px 16px;
  margin: 10px 0;

  cursor: pointer;
  transition: .3s;
}

.label1:hover,
.label1:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.input2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.modelo2 {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, hsl(241, 88%, 77%), hsl(263, 96%, 44%));
  position: relative;
}

.modelo2::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.input2:checked+.modelo2::before {
  transform: scale(0);
}

.genero {
  color: hsl(0, 0%, 100%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  transition: .3s;
}
.genero2 {
    color: hsl(0, 0%, 100%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    transition: .3s;
  }

  .lanc {
    background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
      );
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }

form button{
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 4px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bt:hover{
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bt:hover:focus {
    outline: none;
}

.bt.bt2{
    background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
      );
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.bt.bt3{
    background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
      );
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.grid{
    height: 650px;
    width: 65%;
    margin-right: 1%;
    margin-top: 3rem;
    float: right;
    overflow: auto;
}

.card-grid{
    margin-top: 5%;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    text-align: center;
    width: 90%;
    height: 90%;
}

.card img{
    height: 80%;
    width: 80%;
}

@media only screen and (max-device-width: 900px) {
    .cabecalho { width:600px; }
    }

@media only screen and (max-device-width: 700px) {
    .cabecalho { width:400px; } ;
    
    }

@media only screen and (max-device-width: 900px) {
    .container { width:600px; }
    }
    
@media only screen and (max-device-width: 700px) {
    .container { width:400px; } 
    }
    
@media only screen and (max-device-width: 900px) {
        .grid { width:600px; }
    }
        
@media only screen and (max-device-width: 700px) {
        .grid { width:400px; } 
    }
